<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <title>Login page</title>
</head>
<body>
<div class="container">
    <br>
    <br>
    <div class="row ">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <form class="col-12" action="/login" method="POST">
                <h2 class="text-start"><b>Please sign in</b></h2>
                <div class="alert alert-danger" role="alert" th:if="${param.error}">
                    Bad credentials
                </div>
                <div class="alert alert-success" role="alert"
                     th:if="${param.signup}">
                    Sign up success, now sign in
                </div>
                <div class="alert alert-info" role="alert" th:if="${param.logout}">
                    Logout success
                </div>
                <input type="text" class="form-control" name="username" id="username"
                       placeholder="Username"
                       required="" autofocus="">
                <input type="password" class="form-control" name="password" id="password"
                       placeholder="Password"
                       required="">
                <div class="d-grid gap-2">
                    <button class="btn btn-primary btn-lg form-text btn-block" type="submit">
                        Sign in
                    </button>
                </div>
            </form>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
<!-- Bootstrap components -->
<script th:src="@{/js/jquery.slim.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>