<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="/../static/css/bootstrap.min.css" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <link media="all" rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"/>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Admin panel</title>
</head>
<body>
<div class="container-fluid">
    <!--Header-->
    <div class="row bg-dark p-2">
        <div class="col-10 text-left">
            <div class="text-white mt-1" th:object="${currentUser}">
                <h5 th:text="${currentUser.email}"
                    class="d-inline-block mr-1 mb-0 font-weight-bold">
                </h5>
                <h5 class="d-inline-block mr-1 mb-0">with roles:</h5>
                <h5 class="d-inline-block mb-0"
                    th:text="${currentUser.getRolesNamesString()}"></h5>
            </div>
        </div>
        <div class="col-2 text-right d-inline-block">
            <a class="btn text-white-50 mb-1" href="/logout">
                Logout
            </a>
        </div>
    </div>
    <!--Body-->
    <div class="row vh-100">
        <!--Left-panel-->
        <div class="col-2 pl-0 pr-0">
            <div class="nav flex-column nav-pills mt-3"
                 aria-orientation="vertical">
                <a class="nav-link active" href="/admin/users">Admin</a>
                <a class="nav-link" href="/user">User</a>
            </div>
        </div>
        <!--Right-panel-->
        <div class="col-10 bg-light">
            <div class="row m-2">
                <div class="col-12"><h1><b>Admin panel</b></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!--Tabs-panel-->
                    <div class="bg-light ml-3 mr-3 mb-0">
                        <ul class="nav nav-tabs border-0">
                            <li class="nav-item">
                                <a class="nav-link active" href="/admin/users">Users
                                    table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/add">New
                                    User</a>
                            </li>
                        </ul>
                    </div>
                    <!--Around table block-->
                    <div class="border rounded-lg mb-3 ml-3 mr-3">
                        <div class="row bg-light border-bottom p-0 m-0">
                            <div class="col-12 m-2">
                                <h4 class="d-inline-block mb-0 font-weight-normal">
                                    All users</h4>
                            </div>
                        </div>
                        <!--Around table area-->
                        <div class="row bg-white p-4 m-0">
                            <div class="col-12 pl-0 pr-0">
                                <!--Table-->
                                <table class="table table-striped mb-0">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Last name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${users}">
                                        <th class="align-middle"
                                            th:text="${user.id}" scope="row">
                                        </th>
                                        <td class="align-middle"
                                            th:text="${user.username}">
                                        </td>
                                        <td class="align-middle"
                                            th:text="${user.lastName}">
                                        </td>
                                        <td class="align-middle"
                                            th:text="${user.age}">
                                        </td>
                                        <td class="align-middle"
                                            th:text="${user.email}">
                                        </td>
                                        <td class="align-middle"
                                            th:text="${user.getRolesNamesString()}">
                                        </td>
                                        <td>
                                            <!--Modal Edit-->
                                            <div class="modal fade" th:attr="id=${'editModal' + user.id}"
                                                 tabindex="-1">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Edit user</h5>
                                                            <button type="button" class="close" data-dismiss="modal">
                                                                <span>&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <!--Form edit-->
                                                            <div class="d-block mx-auto"
                                                                 style="width: 300px;">
                                                                <form th:object="${user}" id="editForm" class="form-group text-center mb-0"
                                                                      action="/admin/editUserProcess" method="post">
                                                                    <div class="">
                                                                        <label for="id"
                                                                               class="font-weight-bold mb-0">ID</label>
                                                                        <input class="form-control mb-3"
                                                                               name="id" id="id" type="text"
                                                                               th:value="${user.id}" disabled>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="username"
                                                                               class="font-weight-bold mb-0">Username</label>
                                                                        <input class="form-control"
                                                                               name="username" id="username" type="text"
                                                                               th:value="${user.username}">
                                                                        <!--<p class="alert alert-danger m-0"
                                                                           role="alert"
                                                                           th:if="${#fields.hasErrors('username')}"
                                                                           th:errors="*{username}">Correct
                                                                            length: 3 — 30 chars</p>-->
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="lastName"
                                                                               class="font-weight-bold mb-0">Last
                                                                            name</label>
                                                                        <input class="form-control"
                                                                               id="lastName" type="text"
                                                                               th:value="${user.lastName}">
                                                                       <!-- <p class="alert alert-danger m-0"
                                                                           role="alert"
                                                                           th:if="${#fields.hasErrors('lastName')}"
                                                                           th:errors="*{lastName}">Correct
                                                                            length: 3 — 30 chars</p>-->
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="age"
                                                                               class="font-weight-bold mb-0">Age</label>
                                                                        <input class="form-control"
                                                                               name="age" id="age" type="number"
                                                                               th:value="${user.age}">
                                                                        <!-- <p class="alert alert-danger m-0"
                                                                            role="alert"
                                                                            th:if="${#fields.hasErrors('age')}"
                                                                            th:errors="*{age}">Correct
                                                                             age: 0 — 130</p>-->
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="email"
                                                                               class="font-weight-bold mb-0">Email</label>
                                                                        <input class="form-control"
                                                                               name="email" id="email" type="email"
                                                                               th:value="${user.email}">
                                                                       <!-- <p class="alert alert-danger m-0"
                                                                           role="alert"
                                                                           th:if="${#fields.hasErrors('email')}"
                                                                           th:errors="*{email}">Please, type
                                                                            correct email</p>-->
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="password"
                                                                               class="font-weight-bold mb-0">Password</label>
                                                                        <input class="form-control"
                                                                               name="password" id="password" type="password"
                                                                               th:value="${user.password}">
                                                                       <!-- <p class="alert alert-danger m-0"
                                                                           role="alert"
                                                                           th:if="${#fields.hasErrors('password')}"
                                                                           th:errors="*{password}">Min. 4 chars</p>-->
                                                                    </div>
                                                                    <div class="mb-2">
                                                                        <label for="selectedRoles"
                                                                               class="font-weight-bold mb-0">Role</label>
                                                                        <select multiple
                                                                                class="form-control m-0 p-0"
                                                                                size="2"
                                                                                name="selectedRoles"
                                                                                id="selectedRoles">
                                                                            <option value="ROLE_ADMIN">ADMIN</option>
                                                                            <option value="ROLE_USER">USER</option>
                                                                        </select>
                                                                    </div>
                                                                    <input type="hidden"
                                                                           th:name="${_csrf.parameterName}"
                                                                           th:value="${_csrf.token}"/>
                                                                    <button type="submit" class="btn btn-primary">Edit
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" form="editForm" class="btn btn-primary">Edit
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button"
                                                    class="btn btn-info"
                                                    data-toggle="modal"
                                                    th:attr="data-target=${'#editModal' + user.id}"
                                                    data-tip="edit">Edit
                                            </button>
                                        </td>
                                        <td>
                                            <!--Modal Delete-->
                                            <div class="modal fade" th:attr="id=${'deleteModal' + user.id}" tabindex="-1">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content" th:object="${user}">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Delete user</h5>
                                                            <button type="button" class="close" data-dismiss="modal">
                                                                <span>&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">

                                                            <!--Form delete-->
                                                            <div class="d-block mx-auto"
                                                                 style="width: 300px;">
                                                                <form id="deleteForm" class="form-group text-center mb-0">

                                                                    <div class="">
                                                                        <label for="deleteId"
                                                                               class="font-weight-bold mb-0">ID</label>
                                                                        <input class="form-control mb-3"
                                                                               id="deleteId" type="text"
                                                                               th:value="${user.id}" disabled>
                                                                    </div>

                                                                    <div class="">
                                                                        <label for="deleteUsername"
                                                                               class="font-weight-bold mb-0">Username</label>
                                                                        <input class="form-control mb-3"
                                                                               id="deleteUsername" type="text"
                                                                               th:value="${user.username}" disabled>
                                                                    </div>

                                                                    <div class="">
                                                                        <label for="deleteLastName"
                                                                               class="font-weight-bold mb-0">Last
                                                                            name</label>
                                                                        <input class="form-control mb-3"
                                                                               id="deleteLastName" type="text"
                                                                               th:value="${user.lastName}" disabled>
                                                                    </div>

                                                                    <div class="mb-3">
                                                                        <label for="deleteAge"
                                                                               class="font-weight-bold mb-0">Age</label>
                                                                        <input class="form-control"
                                                                               id="deleteAge" type="text"
                                                                               th:value="${user.age}" disabled>
                                                                    </div>

                                                                    <div class="">
                                                                        <label for="deleteEmail"
                                                                               class="font-weight-bold mb-0">Email</label>
                                                                        <input class="form-control mb-3"
                                                                               id="deleteEmail" type="text"
                                                                               th:value="${user.email}" disabled>
                                                                    </div>

                                                                    <div class="">
                                                                        <label for="deletePassword"
                                                                               class="font-weight-bold mb-0">Password</label>
                                                                        <input class="form-control mb-3"
                                                                               id="deletePassword" type="password"
                                                                               th:value="${user.password}"
                                                                               disabled>
                                                                    </div>

                                                                    <div class="mb-2">
                                                                        <label for="deleteRole"
                                                                               class="font-weight-bold mb-0">Role</label>
                                                                        <select multiple
                                                                                class="form-control m-0 p-0"
                                                                                size="2"
                                                                                name="selectedRoles"
                                                                                id="deleteRole" disabled>
                                                                            <option value="ROLE_ADMIN">ADMIN</option>
                                                                            <option value="ROLE_USER">USER</option>
                                                                        </select>
                                                                    </div>
                                                                    <input type="hidden"
                                                                           th:name="${_csrf.parameterName}"
                                                                           th:value="${_csrf.token}"/>
                                                                </form>
                                                            </div>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <a class="btn btn-primary"
                                                                    th:href="@{'/admin/deleteUserProcess' + ${user.id}}">
                                                                Delete
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button"
                                                    class="btn btn-danger"
                                                    data-toggle="modal"
                                                    th:attr="data-target=${'#deleteModal' + user.id}"
                                                    data-tip="delete">Delete
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap components -->
<script src="/../static/js/bootstrap.bundle.min.js"></script>
<script src="/../static/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/jquery.slim.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<!-- Age input spinner script -->
<script>
    $(function(){

        $('.spinner .btn:first-of-type').on('click', function() {
            var btn = $(this);
            var input = btn.closest('.spinner').find('input');
            if (input.attr('max') == undefined || parseInt(input.val()) < parseInt(input.attr('max'))) {
                input.val(parseInt(input.val(), 10) + 1);
            } else {
                btn.next("disabled", true);
            }
        });
        $('.spinner .btn:last-of-type').on('click', function() {
            var btn = $(this);
            var input = btn.closest('.spinner').find('input');
            if (input.attr('min') == undefined || parseInt(input.val()) > parseInt(input.attr('min'))) {
                input.val(parseInt(input.val(), 10) - 1);
            } else {
                btn.prev("disabled", true);
            }
        });

    })
</script>
</body>
</html>