<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          type="text/css"/>
    <title id="page-title">Admin panel</title>
</head>
<body>
<div class="container-fluid">
    <!--Header-->
    <div class="row bg-dark p-2">
        <div class="col-10 text-left">
            <div class="text-white mt-1" th:object="${currentUser}">
                <h5 th:text="${currentUser.email}" id="currentUserEmail"
                    class="d-inline-block mr-1 mb-0 font-weight-bold">
                </h5>
                <h5 class="d-inline-block mr-1 mb-0">with roles:</h5>
                <h5 class="d-inline-block mb-0" id="currentUserRoles"
                    th:text="${currentUser.getRolesNamesString()}"></h5>
            </div>
        </div>
        <form method="post" action="/logout"
              class="col-2 text-right d-inline-block">
            <button type="submit" class="btn text-white-50 mb-1">
                Logout
            </button>
        </form>
    </div>
    <!--Body-->
    <div class="row vh-100">
        <!--Left-column-->
        <div class="col-2 pl-0 pr-0">
            <div class="nav flex-column nav-pills mt-3"
                 aria-orientation="vertical">
                <a th:if="${currentUser.isAdmin}" data-toggle="tab"
                   id="adminLink"
                   class="nav-link active"
                   href="#adminPanelTab">Admin</a>
                <a class="nav-link" id="currentUserLink" data-toggle="tab"
                   href="#currentUserTab">User</a>
            </div>
        </div>
        <!--Right-column-->
        <div class="col-10 bg-light">
            <div class="row m-2">
                <div class="col-12">
                    <strong>
                        <h1 id="right-column-title"
                            class="text-b">Admin panel</h1>
                    </strong>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!--Tabs-panel-->
                    <div class="bg-light ml-3 mr-3 mb-0" id="tabsPanel">
                        <ul class="nav nav-tabs border-0">
                            <li class="nav-item">
                                <a class="nav-link active" id="adminPanelLink"
                                   data-toggle="tab" href="#adminPanelTab">Users
                                    table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="newUserLink"
                                   data-toggle="tab" href="#newUserTab">New
                                    User</a>
                            </li>
                        </ul>
                    </div>
                    <!--Tab-content-->
                    <div class="tab-content">
                        <!--AdminPanelTab-->
                        <div class="tab-pane fade show active border rounded-lg mb-3 ml-3 mr-3"
                             id="adminPanelTab" role="tabpanel"
                             aria-labelledby="adminPanelLink">
                            <div class="row bg-light border-bottom p-0 m-0">
                                <div class="col-12 m-2">
                                    <h4 class="d-inline-block mb-0 font-weight-normal">
                                        All users</h4>
                                </div>
                            </div>
                            <!--Around table area-->
                            <div class="row bg-white p-4 m-0">
                                <div class="col-12 pl-0 pr-0">
                                    <!--Table-->
                                    <table class="table table-striped mb-0"
                                           id="usersTable">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Username</th>
                                            <th scope="col">Last name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--NewUserTab-->
                        <div class="tab-pane fade border rounded-lg mb-3 ml-3 mr-3"
                             id="newUserTab" role="tabpanel"
                             aria-labelledby="newUserLink">
                            <div class="row bg-light border-bottom p-0 m-0">
                                <div class="col-12 m-2">
                                    <h4 class="d-inline-block mb-0 font-weight-normal">
                                        Add new user</h4>
                                </div>
                            </div>
                            <!--Around form area-->
                            <div class="row bg-white p-4 m-0">
                                <div class="col-12 pl-0 pr-0">
                                    <!--Form-->
                                    <div class="d-block mx-auto"
                                         style="width: 300px;">
                                        <form id="addUserForm"
                                              class="form-group text-center mb-0"
                                              method="post">
                                            <div class="mb-3">
                                                <label for="newUsername"
                                                       class="font-weight-bold mb-0">Username</label>
                                                <input class="form-control"
                                                       id="newUsername"
                                                       type="text" autofocus>
                                            </div>
                                            <div class="mb-3">
                                                <label for="newLastName"
                                                       class="font-weight-bold mb-0">Last
                                                    name</label>
                                                <input class="form-control"
                                                       id="newLastName"
                                                       type="text">
                                            </div>
                                            <div class="mb-3">
                                                <label for="newAge"
                                                       class="font-weight-bold mb-0">Age</label>
                                                <input class="form-control"
                                                       id="newAge"
                                                       type="number">
                                            </div>
                                            <div class="mb-3">
                                                <label for="newEmail"
                                                       class="font-weight-bold mb-0">Email</label>
                                                <input class="form-control"
                                                       id="newEmail"
                                                       type="email">
                                            </div>
                                            <div class="mb-3">
                                                <label for="newPassword"
                                                       class="font-weight-bold mb-0">Password</label>
                                                <input class="form-control"
                                                       id="newPassword"
                                                       type="password">
                                            </div>
                                            <div class="mb-4">
                                                <label for="newRoles"
                                                       class="font-weight-bold mb-0">Role</label>
                                                <select multiple
                                                        class="form-control m-0 p-0"
                                                        size="2"
                                                        name="stringRoles"
                                                        id="newRoles">
                                                    <option value="ROLE_ADMIN">
                                                        ADMIN
                                                    </option>
                                                    <option value="ROLE_USER">
                                                        USER
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="mb-2">
                                                <button type="submit"
                                                        id="newUserSaveButton"
                                                        class="btn btn-lg btn-success">
                                                    Add new user
                                                </button>
                                            </div>
                                            <!--<input type="hidden"
                                                   th:name="${_csrf.parameterName}"
                                                   th:value="${_csrf.token}"/>-->
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--CurrentUserTab-->
                        <div class="tab-pane fade border rounded-lg mb-3 ml-3 mr-3"
                             id="currentUserTab" role="tabpanel"
                             aria-labelledby="currentUserLink">
                            <div class="row bg-light border-bottom p-0 m-0">
                                <div class="col-12 m-2">
                                    <h4 class="d-inline-block mb-0 font-weight-normal">
                                        About user</h4>
                                </div>
                            </div>
                            <!--Around table area-->
                            <div class="row bg-white p-4 m-0">
                                <div class="col-12 pl-0 pr-0">
                                    <!--Table-->
                                    <table class="table table-striped mb-0"
                                           id="userTable">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Username</th>
                                            <th scope="col">Last name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modal-edit blank-->
                    <div class="modal fade" id="modalEdit" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">
                                        Edit
                                        user</h5>
                                    <button type="button"
                                            class="close"
                                            data-dismiss="modal">
                                        <span>&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!--Form body-->
                                    <div class="d-block mx-auto text-center"
                                         style="width: 300px;">
                                        <div class="">
                                            <label for="editId"
                                                   class="font-weight-bold mb-0">ID</label>
                                            <input class="form-control mb-3"
                                                   name="id"
                                                   id="editId"
                                                   type="text" disabled>
                                        </div>
                                        <div class="mb-3">
                                            <label for="editUsername"
                                                   class="font-weight-bold mb-0">Username</label>
                                            <input class="form-control"
                                                   name="username"
                                                   id="editUsername"
                                                   type="text" autofocus>
                                        </div>
                                        <div class="mb-3">
                                            <label for="editLastName"
                                                   class="font-weight-bold mb-0">Last
                                                name</label>
                                            <input class="form-control"
                                                   name="lastName"
                                                   id="editLastName"
                                                   type="text">
                                        </div>
                                        <div class="mb-3">
                                            <label for="editAge"
                                                   class="font-weight-bold mb-0">Age</label>
                                            <input class="form-control"
                                                   name="age"
                                                   id="editAge"
                                                   type="number">
                                        </div>
                                        <div class="mb-3">
                                            <label for="editEmail"
                                                   class="font-weight-bold mb-0">Email</label>
                                            <input class="form-control"
                                                   name="email"
                                                   id="editEmail"
                                                   type="email">
                                        </div>
                                        <div class="mb-3">
                                            <label for="editPassword"
                                                   class="font-weight-bold mb-0">Password</label>
                                            <input class="form-control"
                                                   name="password"
                                                   id="editPassword"
                                                   type="password">
                                        </div>
                                        <div class="mb-2">
                                            <label for="editRoles"
                                                   class="font-weight-bold mb-0">Role</label>
                                            <select multiple
                                                    class="form-control m-0 p-0"
                                                    size="2"
                                                    name="stringRoles"
                                                    id="editRoles">
                                                <option value="ROLE_ADMIN">
                                                    ADMIN
                                                </option>
                                                <option value="ROLE_USER">
                                                    USER
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button"
                                            class="btn btn-secondary"
                                            data-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="submit" id="editEventButton"
                                            data-dismiss="modal"
                                            class="btn btn-primary">
                                        Edit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modal-delete blank-->
                    <div class="modal fade" id="modalDelete" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">
                                        Delete user</h5>
                                    <button type="button"
                                            class="close"
                                            data-dismiss="modal">
                                        <span>&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!--Form delete-->
                                    <div class="d-block mx-auto"
                                         style="width: 300px;">
                                        <form id="deleteForm"
                                              class="form-group text-center mb-0">
                                            <div class="">
                                                <label for="deleteId"
                                                       class="font-weight-bold mb-0">ID</label>
                                                <input class="form-control mb-3"
                                                       id="deleteId"
                                                       type="text" disabled>
                                            </div>
                                            <div class="">
                                                <label for="deleteUsername"
                                                       class="font-weight-bold mb-0">Username</label>
                                                <input class="form-control mb-3"
                                                       id="deleteUsername"
                                                       type="text" disabled>
                                            </div>
                                            <div class="">
                                                <label for="deleteLastName"
                                                       class="font-weight-bold mb-0">Last
                                                    name</label>
                                                <input class="form-control mb-3"
                                                       id="deleteLastName"
                                                       type="text" disabled>
                                            </div>
                                            <div class="mb-3">
                                                <label for="deleteAge"
                                                       class="font-weight-bold mb-0">Age</label>
                                                <input class="form-control"
                                                       id="deleteAge"
                                                       type="text" disabled>
                                            </div>
                                            <div class="">
                                                <label for="deleteEmail"
                                                       class="font-weight-bold mb-0">Email</label>
                                                <input class="form-control mb-3"
                                                       id="deleteEmail"
                                                       type="text" disabled>
                                            </div>
                                            <div class="">
                                                <label for="deletePassword"
                                                       class="font-weight-bold mb-0">Password</label>
                                                <input class="form-control mb-3"
                                                       id="deletePassword"
                                                       type="password" disabled>
                                            </div>
                                            <div class="mb-2">
                                                <label for="deleteRoles"
                                                       class="font-weight-bold mb-0">Role</label>
                                                <select multiple
                                                        class="form-control m-0 p-0"
                                                        size="2"
                                                        id="deleteRoles"
                                                        disabled>
                                                    <option value="ROLE_ADMIN">
                                                        ADMIN
                                                    </option>
                                                    <option value="ROLE_USER">
                                                        USER
                                                    </option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button"
                                            class="btn btn-secondary"
                                            data-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="submit"
                                            id="deleteEventButton"
                                            class="btn btn-danger"
                                            data-dismiss="modal">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap components -->
<script th:src="@{/js/jquery.slim.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<!--App.js-->
<script th:src="@{/js/app.js}"></script>
</body>
</html>